TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Mozilla
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 100
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
ForEachMacros: ['RANGES_FOR', 'Q_FOREACH', 'foreach']
Language: Cpp
PointerAlignment: Right
SortIncludes: true
SpaceBeforeParens: ControlStatements
Standard: Cpp11
UseTab: Never

